
@import '../../assets/styles/global.scss';

.breadcrumbs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  & > p, & > a {
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: $blue;
    text-decoration: none;
  }
  & > a {
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}