@import '../../assets/styles/global.scss';

.o-button {
  padding: 10px 26px;
  border-radius: 30px;
  border: none;
  outline: none;
  background: $blue;
  color: $text-light;
  transition: all .2s ease-out;
  text-decoration: none;
  font: 400 18px/25px Circe, sans-serif;
  &:focus, &:hover {
    box-shadow: 0px 0px 2px 2px $btn-shadow;
    transform: translateY(-1px);
  }
  &_dark {
    background: $blue-dark;
    &:focus, &:hover {
      box-shadow: 0px 0px 2px 2px $btn-dark-shadow;
    }
  }
  &_light {
    background: $white;
    color: $blue-dark;
    &:focus, &:hover {
      box-shadow: 0px 0px 2px 2px rgba($color: $white, $alpha: .2);
    }
  }
  &_small {
    padding: 6px 26px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
  }
  &_big {
    padding: 15px 26px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
  }
}