$blue: #6984F0;
$blue-dark: #263057;
$white: #FFFFFF;
$white-dark: #EEEFF1;
$gray: #9398AB;
$gray-light: #D4D6DD;

$btn-shadow: rgba(105, 132, 240, 0.2);
$btn-dark-shadow: rgba(38, 48, 87, 0.2);

$slider-dot-active-color: $blue;
$slider-dot-color: $gray-light;

$text-primary: $blue-dark;
$text-secondary: $gray;
$text-light: $white;

$notification-success-bg: #edf7ed;
$notification-success-color: #40B150;
$notification-error-bg: #fdeded;
$notification-error-color: #BA3030;

$docs-bg: #F1F2F4;
$modal-blackout: #F1F2F4;
$modal-list-mark: #F0F3FE;