@import '../../assets/styles/global.scss';

.o-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 48px;
    line-height: 62px;
  }
  &_light {
    background: $white;
  }
}

@media screen and (max-width: 1024px) {
  .o-section__title {
    font-size: 25px;
    line-height: 32px;
  }
}